<div>
    <input type="text" id="user" placeholder="Escriba su nombre">
    <input type="text" id="mensaje" placeholder="Escribe un mensaje">
    
    <button id="btn-send" onclick="enviarMensaje()">Enviar</button>
</div>
<div id="chats" > 
    
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>